<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.25.44.27:88/dtemp/bwyd/com.baosight.iplat4mipad.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://10.25.44.27:88/dtemp/bwyd/baowuIcon57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://10.25.44.27:88/dtemp/bwyd/baowuIcon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.baosight.iplat4mipad</string>
				<key>bundle-version</key>
				<string>1.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>宝武移动</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
